
*{
    box-sizing: border-box;
}

.container{
    width: 450px;
    height: 450px;
    border: 2px solid red;
    display: flex;  
    flex-wrap: wrap;  
}

.tile{
    border: 2px solid black;
    width: 25px;
    height: 25px;
}

